@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

a,
li,
ul,
button,
input {
  text-decoration: none;
  border: none;
  list-style-type: none;
  outline: none;
}

.container {
  max-width: 1320px;
  margin: auto;
  padding-left: 20px;
  padding-right: 20px;
}

body {
  background: #F9F9F9;
}

.inputs {
  margin-top: 60px;
}

.inputs__wrap {
  padding: 50px 70px;
  border-radius: 10px;
  background: #75bf7a;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.inputs__left {
  color: #fff;
  font-size: 24.601px;
  font-weight: 600;
  max-width: 246px;
}

.inputs__right {
  display: flex;
  align-items: center;
  gap: 11px;
}

.inputs__right--input {
  padding: 28px 208px 28px 35px;
  height: 67px;
  border-radius: 4.393px;
  background: #fff;
  color: #dadada;
  font-size: 20px;
  font-weight: 600;
}

.inputs__right--btn {
  width: 260px;
  color: #fff;
  font-size: 18px;
  font-weight: 800;
  height: 67px;
  border-radius: 4.393px;
  background: #000;
  cursor: pointer;
}
.inputs__right--btn:hover {
  background: #75bf7a;
  border: 1px solid white;
}

@media screen and (max-width: 1240px) {
  .inputs__left {
    color: #fff;
    font-size: 20px;
    max-width: 200px;
  }
  .inputs__right--input {
    padding: 28px 140px 28px 20px;
    height: 67px;
    font-size: 18px;
  }
  .inputs__right--btn {
    width: 220px;
    font-weight: 700;
    font-size: 18px;
  }
}
@media screen and (max-width: 1024px) {
  .inputs__wrap {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    justify-content: center;
    padding: 30px 60px;
  }
  .inputs__left {
    max-width: 100%;
  }
}
@media screen and (max-width: 720px) {
  .inputs__left {
    font-size: 24.601px;
    font-weight: 600;
    max-width: 269px;
  }
  .inputs__wrap {
    gap: 25px;
    align-items: start;
    padding: 32px 20px 30px 20px;
  }
  .inputs__right {
    display: flex;
    align-items: start;
    flex-direction: column;
    gap: 20px;
  }
  .inputs__right--input {
    width: 280px;
    font-size: 12px;
    padding: 28px 30px 28px 35px;
  }
  .inputs__right--btn {
    width: 280px;
  }
}
@media screen and (max-width: 360px) {
  .inputs__right--input {
    width: 250px;
    font-size: 12px;
    padding: 28px 25px 28px 25px;
  }
  .inputs__right--btn {
    width: 250px;
    font-size: 12px;
  }
}
.works {
  margin-top: 100px;
}

.works__title {
  color: #000;
  font-size: 46px;
  font-weight: 800;
  text-align: center;
  margin-bottom: 25px;
}
.works__title span {
  color: #75bf7a;
  font-size: 46px;
  font-weight: 800;
}

.works__text {
  max-width: 620px;
  text-align: center;
  margin: auto;
  color: #9e9da2;
  text-align: center;
  font-size: 23px;
  font-weight: 500;
}

@media screen and (max-width: 1024px) {
  .works {
    margin-top: 70px;
  }
  .works__title {
    font-size: 40px;
  }
  .works__title span {
    font-size: 40px;
  }
  .works__text {
    font-size: 20px;
  }
}
@media screen and (max-width: 720px) {
  .works {
    margin-top: 40px;
  }
  .works__title {
    font-size: 25px;
    margin-bottom: 20px;
  }
  .works__title span {
    font-size: 25px;
  }
  .works__text {
    font-size: 12px;
  }
}
.main {
  margin-top: 66px;
}

.main__wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 62px;
}

.main__left {
  display: block;
}

.maint__left__top {
  display: flex;
  flex-direction: column;
  align-items: end;
  margin-bottom: 50px;
}

.main__left__top__imgBcg {
  background-image: url(../../../img/oval.svg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 60.819px;
  height: 60.819px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 4px;
}
.main__left__top__imgBcg p {
  color: #75bf7a;
  font-size: 34.108px;
  font-weight: 800;
}

.main__title {
  color: #000;
  text-align: right;
  font-size: 22px;
  font-weight: 800;
  line-height: 50.346px; /* 228.847% */
}

.main__text {
  color: #9e9da2;
  text-align: right;
  font-size: 20px;
  font-weight: 500;
  line-height: 26px; /* 130% */
  max-width: 290px;
}

.main__center {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}

.main__center--oval--img {
  position: absolute;
  width: 400px;
  height: 400px;
  z-index: -1;
}

.main__center--img {
  z-index: 2;
}

.main__icons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.right {
  display: flex;
  flex-direction: column;
  align-items: start !important;
}

.start {
  text-align: start;
}

.main__display--none {
  display: none;
}

@media screen and (max-width: 1080px) {
  .main__wrap {
    justify-content: center;
  }
  .main__display--none {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  .main__display--none .main__left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .main__display--none .block {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .main__left,
  .right {
    display: none;
  }
}
@media screen and (max-width: 720px) {
  .main__display--none {
    flex-direction: column;
    gap: 52px;
  }
  .maint__left__top {
    justify-content: center;
  }
  .main__left__top__imgBcg {
    width: 55px;
    height: 55px;
    margin: auto;
  }
  .main__left__top__imgBcg p {
    font-size: 30px;
    text-align: center;
  }
  .main__title {
    margin: auto;
    font-size: 20px;
  }
  .main__text {
    text-align: center;
    font-size: 16px;
    line-height: 24px;
  }
  .main__center--oval--img {
    width: 320px;
    height: 320px;
  }
  .main__center--img {
    width: 214.823px;
    height: 442.779px;
  }
}
@media screen and (max-width: 340px) {
  .main__display--none {
    gap: 5px;
  }
  .main__left__top__imgBcg {
    width: 50px;
    height: 50px;
  }
  .main__left__top__imgBcg p {
    font-size: 25px;
  }
  .main__title {
    margin: auto;
    font-size: 19px;
  }
  .main__text {
    font-size: 16px;
    line-height: 24px;
  }
  .main__center--oval--img {
    width: 300px;
    height: 300px;
  }
  .main__center--img {
    width: 210px;
    height: 430px;
  }
}
.cards {
  margin-top: 52px;
}

.cards__wrap {
  display: flex;
  flex-direction: column;
  gap: 56px;
}

.cards__wrap__card {
  padding: 11px 110px 24px 38px;
  border-radius: 10px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.second {
  padding: 38px 161px 38px 110px;
}

.third {
  padding: 57px 110px 30px 40px;
}

.cards__wrap__card__info__Title {
  display: flex;
  gap: 20px;
  align-items: center;
}

.card--left-title {
  color: #75bf7a;
  font-size: 88px;
  font-weight: 500;
}

.card--right-title {
  color: #000;
  font-size: 33.943px;
  font-weight: 600;
  max-width: 240px;
}

.card__info--text {
  max-width: 320px;
  color: #9e9da2;
  font-size: 22px;
  font-weight: 500;
  line-height: 23px; /* 104.545% */
}

.card__info--text-none {
  color: #9e9da2;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: 23px; /* 104.545% */
  display: none;
}

.third-text {
  max-width: 540px;
}

.img-block {
  display: none;
}

@media screen and (max-width: 950px) {
  .cards__wrap__card {
    padding: 20px 30px;
    display: flex;
    gap: 30px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .second,
  .third {
    padding: 20px 30px;
  }
  .third-text {
    display: none;
  }
  .card__info--text-none {
    display: block;
  }
}
@media screen and (max-width: 720px) {
  .cards {
    margin-top: 19px;
  }
  .cards__wrap__card,
  .second,
  .third {
    align-items: center;
    justify-content: center;
    padding: 32px 18px 57px 18px;
  }
  .card--left-title {
    font-size: 64px;
    font-weight: 500;
  }
  .card--right-title {
    font-size: 24.982px;
    font-weight: 600;
  }
  .img-1 {
    width: 225.715px;
    height: 223.985px;
  }
  .img-2 {
    width: 248px;
    height: 227.368px;
  }
  .img-3 {
    width: 247.001px;
    height: 173.266px;
  }
  .card__info--text-none {
    font-size: 16px;
    max-width: 280px;
    text-align: center;
  }
  .img-block {
    display: block;
  }
  .img-none {
    display: none;
  }
}

/*# sourceMappingURL=main.css.map */
