.cards {
  margin-top: 52px;
}
.cards__wrap {
  display: flex;
  flex-direction: column;
  gap: 56px;
}
.cards__wrap__card {
  padding: 11px 110px 24px 38px;
  border-radius: 10px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.second {
  padding: 38px 161px 38px 110px;
}
.third {
  padding: 57px 110px 30px 40px;
}
.cards__wrap__card__info__Title {
  display: flex;
  gap: 20px;
  align-items: center;
}
.card--left-title {
  color: #75bf7a;
  font-size: 88px;
  font-weight: 500;
}
.card--right-title {
  color: #000;
  font-size: 33.943px;
  font-weight: 600;
  max-width: 240px;
}
.card__info--text {
  max-width: 320px;
  color: #9e9da2;
  font-size: 22px;
  font-weight: 500;
  line-height: 23px; /* 104.545% */
}
.card__info--text-none {
  color: #9e9da2;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: 23px; /* 104.545% */
  display: none;
}
.third-text {
  max-width: 540px;
}
.img-block {
  display: none;
}
@media screen and (max-width: 950px) {
  .cards__wrap__card {
    padding: 20px 30px;
    display: flex;
    gap: 30px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .second,
  .third {
    padding: 20px 30px;
  }
  .third-text {
    display: none;
  }
  .card__info--text-none {
    display: block;
  }
}
@media screen and (max-width: 720px) {
  .cards {
    margin-top: 19px;
  }
  .cards__wrap__card,
  .second,
  .third {
    align-items: center;
    justify-content: center;
    padding: 32px 18px 57px 18px;
  }
  .card--left-title {
    font-size: 64px;
    font-weight: 500;
  }
  .card--right-title {
    font-size: 24.982px;
    font-weight: 600;
  }
  .img-1 {
    width: 225.715px;
    height: 223.985px;
  }
  .img-2 {
    width: 248px;
    height: 227.368px;
  }
  .img-3 {
    width: 247.001px;
    height: 173.266px;
  }
  .card__info--text-none {
    font-size: 16px;
    max-width: 280px;
    text-align: center;
  }
  .img-block {
    display: block;
  }
  .img-none{

    display: none;
  }
}
