.inputs {
  margin-top: 60px;
}
.inputs__wrap {
  padding: 50px 70px;
  border-radius: 10px;
  background: #75bf7a;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.inputs__left {
  color: #fff;
  font-size: 24.601px;
  font-weight: 600;
  max-width: 246px;
}
.inputs__right {
  display: flex;
  align-items: center;
  gap: 11px;
}
.inputs__right--input {
  padding: 28px 208px 28px 35px;
  height: 67px;
  border-radius: 4.393px;
  background: #fff;
  color: #dadada;
  font-size: 20px;
  font-weight: 600;
}
.inputs__right--btn {
  width: 260px;
  color: #fff;
  font-size: 18px;
  font-weight: 800;
  height: 67px;
  border-radius: 4.393px;
  background: #000;
  cursor: pointer;
  &:hover {
    background: #75bf7a;
    border: 1px solid white;
  }
}
// media quarey for tablet
@media screen and (max-width: 1240px) {
  .inputs__left {
    color: #fff;
    font-size: 20px;
    max-width: 200px;
  }
  .inputs__right--input {
    padding: 28px 140px 28px 20px;
    height: 67px;
    font-size: 18px;
  }
  .inputs__right--btn {
    width: 220px;
    font-weight: 700;
    font-size: 18px;
  }
}
@media screen and (max-width: 1024px) {
  .inputs__wrap {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    justify-content: center;
    padding: 30px 60px;
  }
  .inputs__left{
    max-width: 100%;
  }
}
@media screen and (max-width: 720px) {
  .inputs__left {
    font-size: 24.601px;
    font-weight: 600;
    max-width: 269px;
  }
  .inputs__wrap {
    gap: 25px;
    align-items: start;
    padding: 32px 20px 30px 20px;
  }
  .inputs__right {
    display: flex;
    align-items: start;
    flex-direction: column;
    gap: 20px;
  }

  .inputs__right--input {
    width: 280px;
    font-size: 12px;
    padding: 28px 30px 28px 35px;
  }
  .inputs__right--btn {
    width: 280px;
  }
}
@media screen and (max-width: 360px) {
    
  .inputs__right--input {
    width: 250px;
    font-size: 12px;
    padding: 28px 25px 28px 25px;
  }
  .inputs__right--btn {
    width: 250px;
    font-size: 12px;
  }
}