.main {
  margin-top: 66px;
}
.main__wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 62px;
}
.main__left {
  display: block;
}
.maint__left__top {
  display: flex;
  flex-direction: column;
  align-items: end;
  margin-bottom: 50px;
}
.main__left__top__imgBcg {
  background-image: url(../../../img/oval.svg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 60.819px;
  height: 60.819px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 4px;
  p {
    color: #75bf7a;
    font-size: 34.108px;
    font-weight: 800;
  }
}
.main__title {
  color: #000;
  text-align: right;
  font-size: 22px;
  font-weight: 800;
  line-height: 50.346px; /* 228.847% */
}
.main__text {
  color: #9e9da2;
  text-align: right;
  font-size: 20px;
  font-weight: 500;
  line-height: 26px; /* 130% */
  max-width: 290px;
}
.main__center {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}
.main__center--oval--img {
  position: absolute;
  width: 400px;
  height: 400px;
  z-index: -1;
}
.main__center--img {
  z-index: 2;
}
.main__icons {
  display: flex;
  align-items: center;
  justify-content: center;
}
.right {
  display: flex;
  flex-direction: column;
  align-items: start !important;
}
.start {
  text-align: start;
}
.main__display--none {
  display: none;
}
@media screen and (max-width: 1080px) {
  .main__wrap {
    justify-content: center;
  }
  .main__display--none {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    .main__left {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    .block {
      display: flex;
      align-items: center;
      flex-direction: column;
    }
  }
  .main__left,
  .right {
    display: none;
  }
}
@media screen and (max-width: 720px) {
  .main__display--none {
    flex-direction: column;
    gap: 52px;
  }
  .maint__left__top {
    justify-content: center;
  }
  .main__left__top__imgBcg {
    width: 55px;
    height: 55px;
    margin: auto;
    p {
      font-size: 30px;
      text-align: center;
    }
  }
  .main__title {
    margin: auto;
    font-size: 20px;
  }
  .main__text {
    text-align: center;
    font-size: 16px;
    line-height: 24px;
  }
  .main__center--oval--img {
    width: 320px;
    height: 320px;
  }
  .main__center--img {
    width: 214.823px;
    height: 442.779px;
  }
}
@media screen and (max-width: 340px) {
  .main__display--none {
    gap: 5px;
  }
  .main__left__top__imgBcg {
    width: 50px;
    height: 50px;
    p {
      font-size: 25px;
    }
  }
  .main__title {
    margin: auto;
    font-size: 19px;
  }
  .main__text {
    font-size: 16px;
    line-height: 24px;
  }
  .main__center--oval--img {
    width: 300px;
    height: 300px;
  }
  .main__center--img {
    width: 210px;
    height: 430px;
  }
}