.works {
  margin-top: 100px;
}
.works__title {
  color: #000;
  font-size: 46px;
  font-weight: 800;
  text-align: center;
  margin-bottom: 25px;
  span {
    color: #75bf7a;
    font-size: 46px;
    font-weight: 800;
  }
}
.works__text {
  max-width: 620px;
  text-align: center;
  margin: auto;
  color: #9e9da2;
  text-align: center;
  font-size: 23px;
  font-weight: 500;
}
@media screen and (max-width: 1024px) {
  .works {
    margin-top: 70px;
  }
  .works__title {
    font-size: 40px;
    span {
      font-size: 40px;
    }
  }
  .works__text {
    font-size: 20px;
  }
}
@media screen and (max-width: 720px) {
  .works {
    margin-top: 40px;
  }
  .works__title {
    font-size: 25px;
    margin-bottom: 20px;
    span {
      font-size: 25px;
    }
  }
  .works__text {
    font-size: 12px;
  }
}
