@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}
a,
li,
ul,
button,
input {
  text-decoration: none;
  border: none;
  list-style-type: none;
  outline: none;
}
.container {
  max-width: 1320px;
  margin: auto;
  padding-left: 20px;
  padding-right: 20px;
}
body{
  background: #F9F9F9;
}